
body {
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ded3dc;
     
}


header > div {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: radial-gradient(#ded3dc,white);
    display: block;
  }

 @font-face {
    font-family: prata;
    src: url(Prata/Prata-Regular.ttf);
 }

header {
    padding: 0;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: prata;
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  header > div {
    font-family: prata;
  }

  @media (min-width: 768px) {
    
  .grey-background{
    box-sizing: border-box;
    background-color: rgb(46, 41, 41);
    align-content: center;
  }
}

.new-header-margin{
  margin-top: 2rem;
}

  .profile {
    text-align: center;
  }

  

  .center-text{
    text-align: center;
  }

  .left-text {
    text-align: left;

  }

  .right-text{
    text-align: right;
  }

  #font-name1{
    font-size:25px;
    font-style: italic;
    text-align: center;
  }
  
  #font-name2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
  }

  .underline-text{
    text-decoration: underline;
  }



  /*NAVIGATION BAR STYLING*/

  
  .header-link-display{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 4rem;
    margin-right: 4rem;
    color: black;
    font-size: 20px;
    padding: 0.75rem;
  }
  
  .link-transform{
    text-decoration: none;
    color: black; 
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;*/
    
  }


  /*career videos*/
    .video {
    width: 100%;
    max-width: 300px; /* or any reasonable limit */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  @media (min-width: 768px) {
    .video{
    width: 70%;

  }
}

.videobackground{
  align-items: center;
  padding: 20px 30px;
  padding-top: 10px;
  background: linear-gradient(45deg, rgba(241, 213, 50, 0.771),rgb(213, 180, 243));
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

  .footer-text{
    font-weight: normal;
    text-align: center;
  }

  .footer-background{
    background-color: lightgray;
    margin-right: -2rem;
    margin-left: -2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  hr {
    color: black;
  }

  /* animation hovering */
  a:hover{
    font-weight: bolder;
  }

  .link-transform{
    text-decoration: none;
    color: black;
  }

  .index-link-transform{
    text-decoration: underline;
    color: darkgrey;
  }


  /*CAREER CARDS DISPLAY*/
  .career-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1 , 1fr);
    min-width: calc(100%/ 2 - 20px);
  }
  
  .career-card {
    background: #f8f8f8;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin-top: 10px;
    
  }
  
  .career-card:hover {
    transform: translateY(-5px);
  }
  
  /* Desktop layout */
  @media (min-width: 768px) {
    .career-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  .link-display {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }



 /*HOMEPAGE GRID CARDS*/ 
  .homepage-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  
  .homepage-card {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .homepage-card:hover {
    transform: translateY(-5px);
  }
  
  /* Desktop layout */
  @media (min-width: 768px) {
    .career-grid {
      grid-template-columns: repeat(2, 1fr);
      flex:wrap;
      display: flex;
      
    }
  }
  

/*HOBBIE photo collage*/ 
@media (min-width: 768px) {
  .grid-look {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin-top: 2rem;
  }
} 


.hobbie-grid {
  display: flex;
  gap: 0.5rem;
  grid-template-columns: repeat(4 , 1fr);
  overflow-x: scroll;
}

.hobbie-card {
  background: #f8f8f8;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
  width: fit-content;
  margin-bottom: 2rem;
  
}

.hobbie-card:hover {
  transform: translateY(-10px);
}

 /* Desktop layout */
 @media (min-width: 768px) {
  .hobbie-grid {
    grid-template-columns: repeat(2, 1fr);
    font-size: larger;
  }
}


.image-flex-look{
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-direction: row;
  width: auto;
  height: 450px;
  margin-top: 3rem;
}
  




  /*BUTTON STYLING RANDOM FACTS*/
 /* made it an ID to keep code cleaner and easier to read*/
 .fun-facts-style{
  text-align: center;
 } 

 #fun-facts {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(241, 70, 127);
    color: rgb(4, 4, 4);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  
  }
  #messageBox {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #333;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    z-index: 1000;
    color: #f8f8f8;
  }

  #close-button {
    margin-top: 30px;
    padding: 8px 16px;
    background-color: rgb(241, 70, 127);
    color: rgb(5, 4, 4);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }




  /*Consultation Button*/
  .consultationbackground{
  align-items: center;
  padding: 20px 30px;
  padding-top: 10px;
  background: linear-gradient(45deg, rgba(241, 213, 50, 0.771),rgb(213, 180, 243));
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}
  .ConBtn:hover{
    font-weight: bold;
  }


  #consultation {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(241, 70, 127);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .my-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(241, 70, 127);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }





  /* beagle image style*/

  #beagle{
    position: absolute;
    opacity: 0.5;

  }





  /*booking button*/
.bookingborder{
  align-items: center;
  padding-bottom: 40px;
  padding-top: 15px;
  background: linear-gradient(45deg, rgba(241, 213, 50, 0.771),rgb(213, 180, 243));
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}


  #bookingButton{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(241, 70, 127);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }




/*form styling*/

.bodyBackground{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(241, 213, 50, 0.771),rgb(213, 180, 243));
}

#exitButton{
    padding: 5px;
    background-color:rgba(248, 231, 133, 0.771) ;
    border-style: solid;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgb(213, 180, 243); /*mouseover - hover pink*/
    cursor: pointer;
   
}

/* #exitButton, .title */
.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#exitButton {
  position: end;
  
}

.containerBox{
    background-color: white;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
  
 
}

.containerBox .title {
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    padding-left: 5px;
    
}

.containerBox .title::before {
    height: 3px;
    width: 18rem;
    background: linear-gradient(45deg, rgba(241, 213, 50, 0.771),rgb(213, 180, 243));
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    
}

.containerBox form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 20px 0 20px 0; /*Top an Bottom*/
}

form .user-details .input-box{
    /*input box-*/
    min-width: calc(100%/ 2 - 20px);
    margin-bottom: 5px;
    
}

    @media (max-width: 768px) {
  form .user-details .input-box {
    min-width: 100%; /* Full width on mobile */
    margin-bottom: 15px;
  }
}

.user-details .input-box .details{
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    margin-left: 2px;
}

.input-box{
  display: flex;
  flex-direction: column;
}

.user-details .input-box input{
    height: 45px;
    border-radius: 10px;
    border-style: dotted; /* JS while typing make solid border when finished with valid input, error input make red solid*/
    border-bottom-color: rgba(255, 217, 0, 0.771) ;
    border-left-color: rgba(255, 217, 0, 0.771);
    border-top-color: rgb(213, 180, 243);
    border-right-color: rgb(213, 180, 243);
    border-width: 2px;
    padding-left: 15px;
    font-size: 15px;
    
}


.submit{
    padding: 10px 30px;
    background-color:rgba(248, 231, 133, 0.771) ;
    border-style: solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgb(213, 180, 243); /*mouseover - hover pink*/
    font-weight: bold;
    cursor: progress;
    text-decoration: none;
}

#fullnameError,
#emailError,
#numberError,
#emailError,
#passwordError,
#confirmError {
    color: darkgray;
    margin-left: 2px;
    margin-bottom: 2px;
    font-size: 13px;
}


/*SUBMIT>HTML*/

.submitbackground{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(241, 213, 50, 0.771),rgb(213, 180, 243));
}


.submitMessage{
    display: block;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    text-align: center;
}
