/* header*/
/*Portfolio- photo - about me - paragraph*/
/*career - head - paragraph - video - paragraph*/
/*hobbies - head paragraph - photo's*/
/*links - remove lines*/

body {
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0;
     background-color: hsla(309, 21%, 37%, 0.209);
}


header > div {
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 @font-face {
    font-family: prata;
    src: url(Prata/Prata-Regular.ttf);
 }

header {
    padding: 0;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: prata;
    margin-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  header > div {
    font-family: prata;
  }

  .grey-background{
   background-color: rgb(46, 41, 41);
   margin-left: 10rem;
   margin-right: 10rem;

  }

.new-header-margin{
  margin-top: 2rem;
}

  .profile {
    text-align: center;
  }

  

  .center-text{
    text-align: center;
  }

  .left-text {
    text-align: left;

  }

  .right-text{
    text-align: right;
  }

  #font-name1{
    font-size:25px;
    font-style: italic;
    text-align: center;
  }
  
  #font-name2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
  }

  .underline-text{
    text-decoration: underline;
  }

  .link{
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;

  }

  .header-link-display{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 2rem;
      margin-right: 3rem;
      list-style-type: none;
  }
  
  .link-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    list-style-type: none;
  }

  .video{
    width: 40%;
    height: auto;
  }

  .center{
    display: block;
    margin: auto;
  }

  .boldless-text{
    font-weight: normal;
  }

  .footer-background{
    background-color: lightgray;
    margin-right: -2rem;
    margin-left: -2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  hr {
    color: black;
  }